@tailwind base;
/* @tailwind components; */
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #2c2069;
  --primary-color-dark: #292443;
  --secoundary-color: #756aaa;
  --purple-light: #d7d2f0;
  --purple-dam-light: #eeeafc;
  --hover-color: #6757b9;
  --box-shadow: 0px 4px 16px rgba(11, 17, 52, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.title {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-color);
}
body {
  background: #fafafa;
}
