.container {
  display: flex;
  gap: 24px;
  padding: 16px 0px;
}
.link {
  position: relative;
  color: var(--primary-color);
}
.link:hover {
  color: var(--hover-color);
}
.link:not(.active) + .link:not(.active):nth-child(n + 1):before {
  content: ">";
  position: absolute;
  top: 0px;
  left: -16px;
  z-index: 1;
}
@media (max-width: 1024px) {
  .container {
    padding: 16px;
  }
}
